.sidebar ul li{
  text-decoration: none;
  list-style-type: none;
  line-height: 80px;
}
.sidebar ul li a{
  text-decoration: none;
  color: white;
}
.sidebar{
  margin-top: 200px;
}

.logo{
  width: 100px;
  height: 100px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.update{
  margin-top: 10px;
  padding-top:10px ;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #41B2A8;
  border: 1px solid white;
  width: 25%;
}

.delete{
  margin-top: 10px;
  padding-top:10px ;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #41B2A8;
  border: 1px solid white;
  width:25%;
}
.projectList{
  list-style-type: none;
}
.projectList button{
  margin-top: 10px;
  padding-top:10px ;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: #41B2A8;
  border: 1px solid white;

  width:25%;
}


h4{
  color: #41B2A8;
  margin-bottom: 20px;
}
h1{
  color: #319a91;
}
input{
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #41B2A8;

}

textarea{
  width: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #41B2A8;
}

/* css for header */
.header{
  border-radius: 0px 0px 0px 40px;
  background-color: white;
}

/* mian css */
.main{
  background-color: #F7F7F7;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}